[submodule "legacy/myscripts"]
	path = legacy/myscripts
	url = https://github.com/Eris92/MeshCentral-MyScripts.git
	branch = main
[submodule "legacy/commands"]
	path = legacy/commands
	url = https://github.com/Eris92/MeshCentral-MyCommands.git
	branch = main
[submodule "legacy/approval-center"]
	path = legacy/approval-center
	url = https://github.com/Eris92/MeshCentral-ApprovalCenter.git
	branch = main
[submodule "legacy/move-requests"]
	path = legacy/move-requests
	url = https://github.com/Eris92/MeshCentral-MoveRequests.git
	branch = main
